@import "tailwindcss";
@tailwind utilities;

.break-anywhere {
    line-break: anywhere;
}

.field-sizing-content {
    field-sizing: content;
}

.scrollbar-thin {
    scrollbar-width: thin;
}

.scrollbar-none {
    scrollbar-width: none;
}

.break-anywhere {
    line-break: anywhere;
}

article {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    min-width: 600px;

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-block: 0.5em;
    }

    h2 {
        font-size: xx-large
    }

    h3 {
        font-size: x-large;
    }

    h4 {
        font-size: large;
    }

    p,
    details {
        margin-block-start: 0.5em;
    }

    p:first-child {
        margin-block-start: 0;
    }

    ul,
    ol {
        padding-left: 2em;
    }

    code {
        background: #f0f0f0;
        padding-inline: 0.5ch;
        border-radius: 0.25em;
    }

    kbd {
        display: inline-block;
        padding: 0.1em 0.5em;
        border: 1px solid #ccc;
        border-radius: 0.25em;
        background: #f9f9f9;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        font-size: 0.9em;
        line-height: 1.2;
        white-space: nowrap;
    }

    pre-highlight {
        display: block;
        background: #f8f8f8;
        padding: 1em;
        overflow: auto;
        border-radius: 1em;
    }

    blockquote {
        border-left: 0.25em solid #ccc;
        margin: 1em 0;
        padding-left: 1em;

        &::before {
            display: block;
        }

        &.warning {
            border-left: 0.25em solid orange;

            &::before {
                content: '⚠️ Warning';
                color: darkorange;
                margin-block-end: 0.5em;
            }
        }

        &.note {
            border-left: 0.25em solid teal;

            &::before {
                content: '📝 Note';
                color: teal;
                margin-block-end: 0.5em;
            }
        }

        &.info {
            border-left: 0.25em solid blue;

            &::before {
                content: 'ℹ️ Info';
                color: royalblue;
                margin-block-end: 0.5em;
            }
        }

        &.error {
            border-left: 0.25em solid red;

            &::before {
                content: '❌ Error';
                color: red;
                margin-block-end: 0.5em;
            }
        }

        &.tip {
            border-left: 0.25em solid green;

            &::before {
                content: '💡 Tip';
                color: green;
                margin-block-end: 0.5em;
            }
        }
    }

    fieldset {
        min-width: unset;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 0.5em;
        margin-block: 0.5em;

        legend {
            padding-inline: 0.5em;
        }
    }

    figcaption {
        text-align: center;
    }

    hr {
        margin: 1em auto;
    }
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

hr {
    color: #ccc;
}

a {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: purple;
}
